* {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff !important;
  position: relative;
}

main {
  min-height: 90vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: bold;
  font-family: "EB Garamond", serif !important;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

.rating span {
  margin: 0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel img {
  height: 30rem;
  padding: 30px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.carousel-caption {
  bottom: 5px !important;
}
@media (max-width: 600px) {
  .carousel-caption p {
    font-size: 3vw;
  }

  .carousel img {
    height: 15rem;
    padding: 30px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  #pitch-video {
    height: 14rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px,min) {
  .carousel-caption p {
    font-size: 3vw;
  }

  .carousel img {
    height: 15rem;
    padding: 30px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  #pitch-video {
    height: 14rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
